{% extends "salud/base.html" %}
{% block content %}
<h2>Consultas Médicas</h2>
<a class="btn" href="{% url 'salud:consulta_create' %}">➕ Nueva Consulta</a>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Médico</th>
      <th>Fecha</th>
      <th>Motivo</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for c in object_list %}
    <tr>
      <td>{{ c.paciente }}</td>
      <td>{{ c.medico }}</td>
      <td>{{ c.fecha|date:"d/m/Y H:i" }}</td>
      <td>{{ c.motivo }}</td>
      <td>{{ c.get_estado_display }}</td>
      <td>
        <a class="edit" href="{% url 'salud:consulta_update' c.pk %}">Editar</a> |
        <a class="delete" href="{% url 'salud:consulta_delete' c.pk %}">Eliminar</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="6">No hay consultas registradas.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
