{% extends "salud/base.html" %}
{% block content %}
<h2>Médicos</h2>
<a class="btn" href="{% url 'salud:medico_create' %}">➕ Nuevo Médico</a>

<table>
  <thead>
    <tr>
      <th>RUT</th>
      <th>Nombre</th>
      <th>Especialidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for m in object_list %}
    <tr>
      <td>{{ m.rut }}</td>
      <td>{{ m.nombres }} {{ m.apellidos }}</td>
      <td>{{ m.especialidad }}</td>
      <td>
        <a class="edit" href="{% url 'salud:medico_update' m.pk %}">Editar</a> |
        <a class="delete" href="{% url 'salud:medico_delete' m.pk %}">Eliminar</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="4">No hay médicos registrados.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
