{% extends "salud/base.html" %}
{% block content %}
<h2>Recetas Médicas</h2>
<a class="btn" href="{% url 'salud:receta_create' %}">➕ Nueva Receta</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Consulta</th>
      <th>Indicaciones</th>
      <th>Medicamentos</th>
      <th>Creado en</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for r in object_list %}
    <tr>
      <td>#{{ r.id }}</td>
      <td>{{ r.consulta }}</td>
      <td>{{ r.indicaciones|truncatewords:10 }}</td>
      <td>
        {% for m in r.medicamentos.all %}
          {{ m.nombre }}{% if not forloop.last %}, {% endif %}
        {% empty %}—{% endfor %}
      </td>
      <td>{{ r.creado_en|date:"d/m/Y" }}</td>
      <td>
        <a class="edit" href="{% url 'salud:receta_update' r.pk %}">Editar</a> |
        <a class="delete" href="{% url 'salud:receta_delete' r.pk %}">Eliminar</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="6">No hay recetas registradas.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
