{% extends 'base.html' %}
{% block title %}Editar Medicamento - Clínica Salud Vital{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card">
      <div class="card-header bg-warning text-white">
        <h4 class="mb-0"><i class="bi bi-pencil"></i> Editar Medicamento #{{ medicamento.id }}</h4>
      </div>
      <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'consulta_lista' %}" class="btn btn-secondary">
              <i class="bi bi-x-circle"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-warning text-white">
              <i class="bi bi-save"></i> Actualizar
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
